form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
    height: 520px;
    border: 2px solid #0F0872;
    border-radius: 15px;
    gap: 18px;
    padding: 20px;
}

.user-details-form{
    height: 632px;
}

@media (max-width: 768px) {

    form {
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .user-details-form {
        width: 90%;
        height: auto;
        padding: 15px;
    }

}